html {
  all: unset;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  color: white;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  border-radius: 10%;
  border: white solid 2px;
  color: white;
  padding: 15px;
  background-color: inherit;
  font-size: large;
  transition: 0.3s;
}

button:hover {
  padding: 20px;
  background-color: #383838;
  font-size: x-large;
  transition: 0.3s;
}
